@import "bourbon";
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #671c98;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b13a1;
}

/*start nav bar*/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(
    -122deg,
    rgb(122, 34, 146) 35%,
    rgb(57, 13, 167) 90%
  );
  padding: 10px 0;
}

.navbar-brand {
  font-weight: 900 !important;
  font-family: "Source Code Pro Black", sans-serif;
  color: #fff !important;
}

a {
  text-decoration: none;
}

.brand-first-letter {
  padding: 6px 4px 2px 6px;
  margin: 0 2px;
  border: 4px double #fff;
  -webkit-border-radius: 0 10px;
  -moz-border-radius: 0 10px;
  border-radius: 0 10px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
}

.fa-bars {
  color: #fff !important;
}

.navbar-toggler {
  outline: none !important;
}

/*end navbar*/
/*start bannner*/
.banner {
  padding: 40px;
  height: auto;
  background-image: linear-gradient(
    -122deg,
    rgb(122, 34, 146) 35%,
    rgb(57, 13, 167) 90%
  );
}

/*end banner*/

.banner .h1 {
  color: #fff;
  font-size: 40px;
  line-height: 1.5;
}

.banner .lorem {
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.banner .btn1,
.btn2 {
  color: #fff;
  margin: 30px 10px 0 0;
  padding: 0.5rem 1rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: transparent;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background: #390ea6;
  background: -webkit-linear-gradient(to left top, #571f70, #390ea6);
  background: -moz-linear-gradient(to left top, #571f70, #390ea6);
  background: -o-linear-gradient(to left top, #571f70, #390ea6);
  background: linear-gradient(to left top, #571f70, #390ea6);
}

.banner .img {
  background: url(../img/641.jpg) no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  border-radius: 150px 40px 150px 40px;
  border: 5px solid #5b187a;
}

/*start clean section*/
.clean {
  padding-top: 70px;
  padding-bottom: 70px;
}

.clean .h1 {
  text-transform: capitalize;
  color: #390da8;
  font-weight: 700;
}

.clean .purpose {
  margin: 20px auto;
  width: 46%;
}

.clean .hr {
  color: #fff;
  background-color: #868e96;
  overflow: hidden;
  width: 25%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px auto;
}

.cards {
  margin-top: 50px;
}

.clean .card .card-body:hover {
  background: #390da8;
  cursor: pointer;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
}

.clean .card .card-body:hover *,
.clean .card .card-body i:hover,
.clean .card .card-body:hover h4 {
  color: #fff;
}

.clean .card {
  height: 350px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 10px 2px #e1e1e1;
  -moz-box-shadow: 0 3px 10px 2px #e1e1e1;
  -o-box-shadow: 0 3px 10px 2px #e1e1e1;
  box-shadow: 0 3px 10px 2px #e1e1e1;
  margin-bottom: 20px;
  width: auto;
}

.clean .cd {
  margin-top: 20px;
}

.clean .card .card-body {
  padding: 5px;
}

.clean .card .card-body h4 {
  text-transform: capitalize;
  color: #390da8;
  font-weight: 700;
  margin: 10px 0;
}

.clean .card .card-body i {
  color: #390da8;
  margin-top: 60px;
}

.clean .card .card-body .card-text {
  font-size: 1.2rem;
}

/*end clean section*/
/*start our projects*/
.our_projects {
  background-color: #f2f2f2;
  height: auto;
  padding: 40px 0;
}

.our_projects .our {
  color: #390da8;
  font-weight: 900;
  text-transform: capitalize;
}

.our_projects .pro {
  margin-top: 60px;
}

.our_projects .card {
  margin-bottom: 40px;
}

.our_projects .card:hover {
  background: #390da8;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.our_projects .card:hover *,
.our_projects .card h5:hover,
.our_projects .card h6:hover {
  color: #fff;
}

.our_projects .abdo {
  border-radius: 20px;
  margin-top: 20px;
  background: none;
  border: 1px solid gray;
  width: 200px;
  padding: 10px;
  outline: none;
}

.our_projects .abdo:hover {
  background: #390da8;
  color: #fff;
  cursor: pointer;
}

/*end our projects*/
/*start bit section*/
.bit {
  margin-top: 20px;
  padding: 100px 0;
}

.bit span {
  color: #343a40 !important;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.bit h2 {
  font-weight: 900;
  color: rgb(56, 13, 165);
  font-size: 50px;
}

.bit .su_p {
  line-height: 2;
  margin: 20px;
  color: rgb(134, 142, 150) !important;
  font-size: 18px;
}

.bit button {
  border-radius: 20px;
  margin-top: 20px;
  background: none;
  border: 1px solid gray;
  width: 200px;
  padding: 10px;
  outline: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bit button:hover {
  background: #390da8;
  color: #fff;
  cursor: pointer;
}

/*
.bit .img-bord {

    position: absolute;
    right: 100px;
    margin: 100px auto;
    border: 1px solid #390da8;
}
.bit .img {
    width: 180px;
    height: 200px;
}
.bit .img:before {
    z-index: 1;
    top: -47%;
    left: 45%;
    background: white url("../img/swedish-small-apartment-design1-min.jpg");
}
.bit .img:after {
    z-index: 0;
    top: 47%;
    left: -45%;
    background: white url("../img/shoko-design1-min.jpg");
}
.bit .img:after,
.bit .img:before {
    -webkit-box-shadow:  0 0 5px 1px rgba(0, 0, 0, 0.5);
       -moz-box-shadow:  0 0 5px 1px rgba(0, 0, 0, 0.5);
         -o-box-shadow:  0 0 5px 1px rgba(0, 0, 0, 0.5);
            box-shadow:  0 0 5px 1px rgba(0, 0, 0, 0.5);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
*/
.bit .img {
  background: url("../img/9f82438296755.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-left: 20;
}

/*end bit section*/
/*********statistics*******/
.statistics-p {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  background: url("../img/laptop-min.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.statistics {
  padding: 60px 0;
  background: #390da8;
  background: -webkit-linear-gradient(45deg, #390daccc 50%, #7a2292cc);
  background: -moz-linear-gradient(45deg, #390daccc 50%, #7a2292cc);
  background: -o-linear-gradient(45deg, #390daccc 50%, #7a2292cc);
  background: linear-gradient(45deg, #390daccc 50%, #7a2292cc);
}

.statistics .container div {
  display: inline-flex;
  font-weight: 400;
  border-left: 1px solid white;
}

.statistics .container div:first-child {
  border: none;
}

.statistics .container p {
  color: white;
  margin: 0 40px;
  font-size: 30px;
}

.statistics .container span {
  font-size: 40px;
}
/*****footer*/
.links {
  padding: 3rem 0 1rem;
  text-align: center;
}
.links .brand-first-letter {
  border: black 2px dotted;
  border-radius: 0 20px 0 20px;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  padding: 5px 9px 1px 13px;
}
.links .copyright {
  margin-top: 20px;
  display: block;
}
.links i {
  font-size: 20px;
  margin-bottom: 20px;
}
.links ul {
  display: inline-block;
  list-style: none;
  text-align: center;
  padding: 0;
  text-transform: capitalize;
}
.links .title {
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}
.links input,
.links button {
  text-align: center;
  border-radius: 10px;
  width: 150px !important;
  display: inline !important;
}
.links input {
  padding-top: 2px !important;
}
.links button {
  width: 40px !important;
}
/*End Links*/

/*Start Footer*/
footer {
  text-align: center;
  background-color: #330099;
  color: white;
}
/*improvment*/
@media (max-width: 768px) {
  .statistics .container p {
    font-size: 20px;
  }
  .statistics .container span {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .statistics .container p {
    font-size: 15px;
  }
  .statistics .container span {
    font-size: 15px;
  }
}
